In [4]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow`

In [15]:
df=pd.DataFrame(pd.read_csv("Cleaned.csv",low_memory=False))
df.drop("Unnamed: 0",axis=1,inplace=True)
df

,venue,inning,Date,bat_team,bowl_team,batsmen,bowlers,run,batsman1,batsman2,bowler1,bowler2
0,15,1,2008,7,13,"['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...","['P Kumar', 'Z Khan', 'AA Noffke', 'JH Kallis'...",71.0,116,14,124,219
1,15,2,2008,13,7,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['AB Dinda', 'I Sharma', 'AB Agarkar', 'SC Gan...",33.0,93,145,11,77
2,27,1,2008,0,5,"['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...","['B Lee', 'S Sreesanth', 'JR Hopes', 'IK Patha...",56.0,87,82,28,178
3,27,2,2008,5,0,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['JDP Oram', 'MS Gony', 'M Muralitharan', 'P A...",65.0,53,57,75,133
4,9,1,2008,10,3,"['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...","['GD McGrath', 'B Geeves', 'MF Maharoof', 'R B...",42.0,129,149,57,31
...,...,...,...,...,...,...,...,...,...,...,...,...
1628,19,1,2021,8,13,"['RG Sharma', 'CA Lynn', 'SA Yadav', 'Ishan Ki...","['Mohammed Siraj', 'KA Jamieson', 'YS Chahal',...",41.0,99,19,116,103
1629,19,2,2021,13,8,"['Washington Sundar', 'V Kohli', 'RM Patidar',...","['TA Boult', 'JJ Bumrah', 'M Jansen', 'KH Pand...",54.0,139,141,178,90
1630,41,1,2021,0,2,"['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK R...","['CR Woakes', 'Avesh Khan', 'R Ashwin', 'TK Cu...",36.0,97,34,42,29
1631,41,2,2021,2,0,"['PP Shaw', 'S Dhawan', 'RR Pant', 'MP Stoinis']","['DL Chahar', 'SM Curran', 'SN Thakur', 'RA Ja...",65.0,91,113,48,185
1632,19,1,2021,7,14,"['N Rana', 'Shubman Gill', 'RA Tripathi', 'AD ...","['B Kumar', 'Sandeep Sharma', 'T Natarajan', '...",50.0,80,135,27,194

In [16]:
X = df.iloc[:,[0,1,2,3,4]]
y = df.iloc[:,[7]]

In [17]:
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

NameError: name 'Sequential' is not defined